/* Drop-down */
.cssdropdown {
    width: 320px;
    margin: 0;
    border-radius: 4px;
    border: 1px solid #cbbeb9;
    box-shadow: 0 1px 1px #f1efee;
    background-color: #fdfbfa;
    position: relative;
}

.cssdropdown a, .cssdropdown__label {
    cursor: pointer;
    display: block;
    width: 282px;
    height: 25px;
    padding: 15px 19px;
    color: #ac9b97;
    text-transform: uppercase;
    font: bold 17px/30px Arial, Helvetica;
    text-decoration: none;
    padding-top: 10px;
}

.cssdropdown__input {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.cssdropdown:hover > a {
    color: #9c8d89;
}

.cssdropdown__input:checked ~ .cssdropdown__list-wrapper {
    display: block;
}

/* Droddown list */
.cssdropdown__list-wrapper {
    margin: 0;
    padding: 0;    
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 99999;    
    width: 320px;
}

.cssdropdown__list {
    margin: 15px 0 0 0;
    padding: 0;
    list-style: none;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 3px 1px #c7c3c3;
}

.cssdropdown__list-item {
    float: none;
    margin: 0;
    padding: 0;
    display: block;
    box-shadow: 0 1px 0 #ddd8d7;  
}

.cssdropdown__list a {
    text-transform: uppercase;
    padding: 10px 0px 10px 19px;
    height: auto;
    display: block;
    white-space: nowrap;
    float: none;
}

.cssdropdown__list-item:first-child a:after {
    content: '';
    position: absolute;
    top: 3px;
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #fff;
    right: 21px;
}

.cssdropdown:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}